<!DOCTYPE html>
<html lang = "en">
<head>
  <% include ./partials/head.ejs %>
</head>
<body>
  <div style="color:blue;font-size:40px;text-align:center;margin-top: 20px;">TinyApp</div>
  <% include ./partials/_header.ejs %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">LongURL</th>
        <th scope="col">ShortURL</th>
      </tr>
    </thead>
    <tbody>
      <div class="row">
        <% for (item in urls) { %>
        <td><%= urls[item].longURL %></td>
        <td><a href="/u/<%= item %>"><%= item %></td></a>
        <td>
        <a href="/urls/<%= item %>">Edit</a>
        </td>
        <td>
          <form action="/urls/<%= item %>/delete" method="POST">
            <input type="submit" value="Delete" class="btn btn-primary"/>
          </form>
        </td>
      </div>
        <% } %>
      <tr>
        <td>
          <a href="/urls/new">New URL</a>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>